[Desktop Entry]
Name=AdoptOpenJDK Java 13 Shell
Comment=AdoptOpenJDK Java 13 Shell
Keywords=java;shell
Exec=/usr/lib/jvm/java-13-adoptopenjdk/bin/jshell
Terminal=true
Type=Application
Categories=Application;System;
