[Desktop Entry]
Name=Eclipse Temurin Java 8 Policy Tool
Comment=Eclipse Temurin Java 8 Policy Tool
Keywords=java;security;policytool
Exec=/usr/lib/jvm/java-8-eclipse-temurin/bin/policytool
Terminal=false
Type=Application
Categories=Settings;
Icon=java