pkgbase = gauge-bin
	pkgdesc = Light weight cross-platform test automation tool.
	pkgver = 1.1.4
	pkgrel = 1
	url = https://getgauge.io
	arch = x86_64
	license = GPL3
	makedepends = unzip
	source = https://github.com/getgauge/gauge/releases/download/v1.1.4/gauge-1.1.4-linux.x86_64.zip
	sha256sums = SKIP

pkgname = gauge-bin