[Desktop Entry]
Name=Eclipse Temurin Java 18 Shell
Comment=Eclipse Temurin Java 18 Shell
Keywords=java;shell
Exec=/usr/lib/jvm/java-18-eclipse-temurin/bin/jshell
Terminal=true
Type=Application
Categories=Application;System;
Icon=java