[Desktop Entry]
Name=Eclipse Temurin Java 18 Console
Comment=Eclipse Temurin Java 18 Monitoring & Management Console
Keywords=java;console;monitoring
Exec=/usr/lib/jvm/java-18-eclipse-temurin/bin/jconsole
Terminal=false
Type=Application
Categories=Application;System;
Icon=java