pkgbase = jdk19-eclipse-temurin
	pkgdesc = OpenJDK Java 19 development kit (Eclipse Temurin build)
	pkgver = 19.+36
	pkgrel = 1
	url = https://adoptium.net/
	install = install_jdk19-eclipse-temurin.sh
	arch = x86_64
	license = custom
	depends = java-runtime-common>=3
	depends = ca-certificates-utils
	depends = desktop-file-utils
	depends = libxrender
	depends = libxtst
	depends = alsa-lib
	optdepends = gtk2: for the Gtk+ 2 look and feel
	optdepends = gtk3: for the Gtk+ 3 look and feel
	provides = java-runtime-headless=19
	provides = java-runtime-headless-openjdk=19
	provides = jre19-openjdk-headless=19.+36
	provides = jre-openjdk-headless=19.+36
	provides = java-runtime=19
	provides = java-runtime-openjdk=19
	provides = jre19-openjdk=19.+36
	provides = jre-openjdk=19.+36
	provides = java-environment=19
	provides = java-environment-openjdk=19
	provides = jdk19-openjdk=19.+36
	provides = jdk-openjdk=19.+36
	provides = openjdk19-src=19.+36
	provides = openjdk-src=19.+36
	backup = etc/jdk19-eclipse-temurin/net.properties
	backup = etc/jdk19-eclipse-temurin/logging.properties
	backup = etc/jdk19-eclipse-temurin/security/java.security
	backup = etc/jdk19-eclipse-temurin/security/policy/limited/exempt_local.policy
	backup = etc/jdk19-eclipse-temurin/security/policy/limited/default_US_export.policy
	backup = etc/jdk19-eclipse-temurin/security/policy/limited/default_local.policy
	backup = etc/jdk19-eclipse-temurin/security/policy/unlimited/default_US_export.policy
	backup = etc/jdk19-eclipse-temurin/security/policy/unlimited/default_local.policy
	backup = etc/jdk19-eclipse-temurin/security/policy/README.txt
	backup = etc/jdk19-eclipse-temurin/security/java.policy
	backup = etc/jdk19-eclipse-temurin/management/management.properties
	backup = etc/jdk19-eclipse-temurin/management/jmxremote.access
	backup = etc/jdk19-eclipse-temurin/management/jmxremote.password.template
	backup = etc/jdk19-eclipse-temurin/sound.properties
	source = https://github.com/adoptium/temurin19-binaries/releases/download/jdk-19%2B36/OpenJDK19U-jdk_x64_linux_hotspot_19_36.tar.gz
	source = freedesktop-java.desktop
	source = freedesktop-jconsole.desktop
	source = freedesktop-jshell.desktop
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = jdk19-eclipse-temurin
