[Desktop Entry]
Name=Eclipse Temurin Java 19 Console
Comment=Eclipse Temurin Java 19 Monitoring & Management Console
Keywords=java;console;monitoring
Exec=/usr/lib/jvm/java-19-eclipse-temurin/bin/jconsole
Terminal=false
Type=Application
Categories=Application;System;
Icon=java