[Desktop Entry]
Name=Eclipse Temurin Java 19 Shell
Comment=Eclipse Temurin Java 19 Shell
Keywords=java;shell
Exec=/usr/lib/jvm/java-19-eclipse-temurin/bin/jshell
Terminal=true
Type=Application
Categories=Application;System;
Icon=java