[Desktop Entry]
Name=AdoptOpenJDK Java 8 Policy Tool
Comment=AdoptOpenJDK Java 8 Policy Tool
Keywords=java;security;policytool
Exec=/usr/lib/jvm/java-8-adoptopenjdk/bin/policytool
Terminal=false
Type=Application
Categories=Settings;
Icon=java