[Desktop Entry]
Name=Eclipse Temurin Java 16 Shell
Comment=Eclipse Temurin Java 16 Shell
Keywords=java;shell
Exec=/usr/lib/jvm/java-16-eclipse-temurin/bin/jshell
Terminal=true
Type=Application
Categories=Application;System;
Icon=java